{
  "presets": [ "env", "stage-0" ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  },
  "sourceMaps": true,
  "compact": false,
  "plugins": [
    "transform-class-properties",
    "transform-flow-strip-types"
  ]
}
